<!DOCTYPE html>
<html>
<head>


  <meta charset="utf-8" /><title>Projektni</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div id="wrapper"><!-- #wrapper -->



  <header><!-- header -->

    <h1><a href="#">OČALA</a></h1>
    <h2>Your cute and compelling tag line goes here</h2>
  </header><!-- end of header -->
  <section id="main"><!-- #main content and sidebar area -->
<%= yield %>
  </section><!-- end of #content -->

  <aside id="sidebar"><!-- sidebar -->







  </aside><!-- end of sidebar -->

  </section><!-- end of #main content and sidebar-->

  <footer>
    <section id="footer-area">

      <section id="footer-outer-block">
        <aside class="footer-segment">


        </aside><!-- end of #first footer segment -->

        <aside class="footer-segment">


        </aside><!-- end of #second footer segment -->

        <aside class="footer-segment">


        </aside><!-- end of #third footer segment -->

        <aside class="footer-segment">

        </aside><!-- end of #fourth footer segment -->

      </section><!-- end of footer-outer-block -->

    </section><!-- end of footer-area -->
  </footer>

</div><!-- #wrapper -->
<!-- Free template created by http://freehtml5templates.com -->
</body>
</html>

</body>
</html>
